{% extends 'base.html' %}


{% block content %}
<div class="container page-form">
    <div class="row form-row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/auth/login" id="login-form" method="POST">

                <div class="form-group">
                    <h3 class="text-center">Login</h3>
                </div>

                <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>

                <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>

                <button type="submit" id="submit-button" name="submit" class="btn btn-success">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}