{% extends 'base.html' %}


{% block content %}
    <div class="container page-form">
    <div class="row form-row">
        <div class="col-md-8 col-md-offset-2">
            <form action="/blogs/new" id="login-form" method="POST">

                <div class="form-group">
                    <h3 class="text-center">Create New Blog</h3>
                </div>

                <div class="form-group">
                <label for="title">Blog Title</label>
                <input type="text" class="form-control" id="title" placeholder="Blog Title " name="title">
                </div>

                <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Author " name="author">
                </div>

                <div class="form-group">
                <label for="description">Blog Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description" name="description">
                </div>

                <button type="submit" id="submit-button" name="submit" class="btn btn-success">Create blog</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}