
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">{{all_data[0].pname}}</h2>
            <h5 class="text-white op-7 mb-2">
              <!-- Dashboard tag -->
            </h5>
          </div>
          <div class="ml-md-auto py-2 py-md-0">
            <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
            <a href="#" class="btn btn-secondary btn-round">Add Project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-inner mt--5">
      <div class="row mt--2">
        <div class="col-md-12">
          <div class="card full-height">
            <div class="card-body" style="overflow: auto;">
              <div class="card-title">{{all_data[0].dataset}}</div>
			  <div class="card-category">Sample from dataset</div>
				<div id="table">

					{% for table in tables %}
					{{titles[loop.index]}}
					{{ table|safe }}
					{% endfor %}
				</div>
              <!-- <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-1"></div>
                  <h6 class="fw-bold mt-3 mb-0">New Users</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-2"></div>
                  <h6 class="fw-bold mt-3 mb-0">Sales</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-3"></div>
                  <h6 class="fw-bold mt-3 mb-0">Subscribers</h6>
                </div>
              </div> -->
              <!-- Project Lists -->



                <div class="pull-in"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                  <canvas id="topProductsChart" width="806" height="300" class="chartjs-render-monitor" style="display: block; height: 150px; width: 403px;"></canvas>
                </div>
            </div>
          </div>
        </div>
	  </div>
	  <h4 class="page-title">Models</h4>
	  <div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="card card-stats card-round">
				<div class="card-body ">
					<div class="row align-items-center">
						<div class="col-icon">
							<div class="icon-big text-center icon-primary bubble-shadow-small">
								<i class="flaticon-database"></i>
							</div>
						</div>
						<div class="col col-stats ml-3 ml-sm-0">
							<div class="numbers">
								<p class="card-category">Coreleation analysis, Descriptive Stats</p>
								<h4 class="card-title">Know your data</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="card card-stats card-round">
				<div class="card-body">
					<div class="row align-items-center">
						<div class="col-icon">
							<div class="icon-big text-center icon-info bubble-shadow-small">
								<i class="flaticon-analytics"></i>
							</div>
						</div>
						<div class="col col-stats ml-3 ml-sm-0">
							<div class="numbers">
								<p class="card-category">Data Forecasting using various techniques</p>
								<h4 class="card-title">Forecast for me</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="card card-stats card-round">
				<div class="card-body">
					<div class="row align-items-center">
						<div class="col-icon">
							<div class="icon-big text-center icon-success bubble-shadow-small">
								<i class="flaticon-network"></i>
							</div>
						</div>
						<div class="col col-stats ml-3 ml-sm-0">
							<div class="numbers">
								<p class="card-category">Classifying to different category</p>
								<h4 class="card-title">Classify</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="card card-stats card-round">
				<div class="card-body">
					<div class="row align-items-center">
						<div class="col-icon">
							<div class="icon-big text-center icon-secondary bubble-shadow-small">
								<i class="flaticon-technology-1"></i>
							</div>
						</div>
						<div class="col col-stats ml-3 ml-sm-0">
							<div class="numbers">
								<p class="card-category">Lets make sure data is right</p>
								<h4 class="card-title">Data Cleaning</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>

{% endblock content %}

{% block javascripts %}

	<script src="/static/assets/js/demo.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {
	// document is loaded and DOM is ready
	$( ".dataframe" ).addClass('table table-striped mt-3')

	});
	
	</script>

{% endblock javascripts %}
