.login {
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  max-width: 70vh;
}

.form {
  padding: 1em;
}

label {
  font-weight: 600;
}

.username {
  margin-bottom: 20px;
}

.password {
  margin-bottom: 20px;
}

.submitBtn {
  margin-bottom: 20px;
}

.resetBtn {
  margin: 50;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: none;
  border: none;
}

.resetBtn:hover {
  font-weight: bold;
}