.signup {
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 2em;
  text-align: left;
  max-width: 60vw;
}

.form {
  padding: 1em;
}

label {
  font-weight: 600;
}

.name,
.username,
.submitBtn,
.email,
.phone,
.address,
.cityStateZip {
  margin-bottom: 20px;
}

.resetBtn {
  margin: 50;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: none;
  border: none;
}

.resetBtn:hover {
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}