*.iml
android_app/Code/.gradle
android_app/Code/gradle/caches
android_app/Code/gradle/daemon
android_app/Code/gradle/native
android_app/Code/gradle/wrapper/dists
android_app/Code/local.properties
android_app/Code/.idea/caches
android_app/Code/.idea/libraries
android_app/Code/.idea/modules.xml
android_app/Code/.idea/workspace.xml
android_app/Code/.idea/navEditor.xml
android_app/Code/.idea/assetWizardSettings.xml
android_app/Code/.DS_Store
android_app/Code/build
android_app/Code/captures
android_app/Code.externalNativeBuild
android_app/Code.cxx

#amplify
android_app/Code/amplify/\#current-cloud-backend
android_app/Code/amplify/.config/local-*
android_app/Code/amplify/logs
android_app/Code/amplify/mock-data
android_app/Code/amplify/backend/amplify-meta.json
android_app/Code/amplify/backend/awscloudformation
android_app/Code/amplify/backend/.temp
android_app/Code/build/
android_app/Code/dist/
android_app/Code/node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
