*.iml
android_app/.gradle
android_app/gradle/caches
android_app/gradle/daemon
android_app/gradle/native
android_app/gradle/wrapper/dists
android_app/local.properties
android_app/.idea/caches
android_app/.idea/libraries
android_app/.idea/modules.xml
android_app/.idea/workspace.xml
android_app/.idea/navEditor.xml
android_app/.idea/assetWizardSettings.xml
android_app/.DS_Store
android_app/build
android_app/captures
android_app/Code.externalNativeBuild
android_app/Code.cxx

#amplify
android_app/amplify/\#current-cloud-backend
android_app/amplify/.config/local-*
android_app/amplify/logs
android_app/amplify/mock-data
android_app/amplify/backend/amplify-meta.json
android_app/amplify/backend/awscloudformation
android_app/amplify/backend/.temp
android_app/build/
android_app/dist/
android_app/node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*

#web-app
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
lifefit-webapp/node_modules
lifefit-webapp/.pnp
lifefit-webapp/.pnp.js

# testing
lifefit-webapp/coverage

# production
lifefit-webapp/build

# misc
lifefit-webapp.DS_Store
lifefit-webapp.env.local
lifefit-webapp.env.development.local
lifefit-webapp.env.test.local
lifefit-webapp.env.production.local
lifefit-webapp/.firebase

lifefit-webappnpm-debug.log*
lifefit-webappyarn-debug.log*
lifefit-webappyarn-error.log*

#amplify
lifefit-webapp/amplify/\#current-cloud-backend
lifefit-webapp/amplify/.config/local-*
lifefit-webapp/amplify/logs
lifefit-webapp/amplify/mock-data
lifefit-webapp/amplify/backend/amplify-meta.json
lifefit-webapp/amplify/backend/awscloudformation
lifefit-webapp/amplify/backend/.temp
lifefit-webapp/build/
lifefit-webapp/dist/
lifefit-webapp/node_modules/
lifefit-webapp/aws-exports.js
lifefit-webapp/awsconfiguration.json
lifefit-webapp/amplifyconfiguration.json
lifefit-webapp/amplifyconfiguration.dart
lifefit-webapp/amplify-build-config.json
lifefit-webapp/amplify-gradle-config.json
lifefit-webapp/amplifytools.xcconfig
lifefit-webapp/.secret-*

#lambda
lambda_scripts/__pycache__
lambda_scripts/test.py

#server-side
server_side/server
server_side/aws.txt
server_side/test.py