.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.navLink-custom:hover {
  border-bottom: 4px solid rgba(252,41,41,255);
  transition: all 0.2s ease-out;
}

.custom-active .menu-item {
  font-weight: bold;
  color: rgba(252,41,41,255);
}