{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/changePassword.css') }}">

    <h1>Change Password</h1>

    <div class ="formwrapper">
        <div class="formregister">
            <form class="container" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
        
                <div class="formfield">
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                
                <p>{{ form.submit() }}</p>
            </form>

        </div>
    </div>
{% endblock %}
