.center {
  /*padding: 0px 0;*/
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  font-family: "Lucida Console", Courier, monospace;
  color: red;
}

.message {
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  padding-right: 350px;
  padding-left: 350px;
  padding-top: 0px;
  color: gray;

}
.formpassword form {
    display: grid;
    grid-template-columns: 1fr;

}

.formfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;    
}

.formfield label {
    margin-bottom: 1rem;
    color: gray;
    font-family: "Lucida Console", Courier, monospace;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
}

input [type=submit]{
	margin-right: auto;
	margin-left: auto;
    background-color: red;
    color: white;
    transition: 0.3s 0.0s ease-out;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 12px;
    width: 250px;
  
}