body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  background: white;
}

.container
{
	display: table;
  	width: 100%;
}

.container .leftHalf
{
	position: absolute;
  	left: 0px;
  	width: 50%;
} 

.container .rightHalf
{
	position: absolute;
  	right: 0px;
  	width: 50%;
  	height: 100%
}

.container .barChartDiv
{
    max-width: 500px;
    max-height: 300px;
	position:relative;
	float:left;
	padding: 20px 10px 10px 0px;
}

.container .lineChartDiv
{
    max-width: 500px;
    max-height: 300px;
	position:relative;
	float:left;
	padding: 20px 10px 10px 0px;
}

.container .pieChartDiv
{
    max-width: 500px;
    max-height: 300px;
	position:relative;
	padding: 20px 10px 10px 0px;
}

.container .help
{
	font-size:24px;
	position:relative;
	left:300px;
}

.container .leftHalf .barChartDiv
{
    display: block;
    padding: 5px;
    padding-left: 50px;
    max-width: 500px;
    max-height: 300px;
}
           	
.container .leftHalf .lineChartDiv
{
    display: block;
    padding: 5px;
    padding-left: 50px;
    max-width: 500px;
    max-height: 300px;
}

.container .rightHalf .healthScore
{
	position: relative;
	top: 35%;
	left: 20%;
	border-radius: 25px;
  	border: 2px solid red;
  	width: 300px;
  	height: 150px; 
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.container .rightHalf .healthScore h1
{
	font-size: 16px;
	padding: 5px;
}

.container .rightHalf .healthScore p
{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .rightHalf .box 
{
	width: 25%;
	float: left;
	display: inline-block;
}

.container .rightHalf .box h2
{
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-size: 15px;
}
.container .rightHalf .box .chart
{
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	line-height: 120px;
	color: black;
}

.container .rightHalf  .box canvas
{
	position: absolute;
	top: 0;
	left: 0;
}

.container .grid-container
{
	display: grid;
	gap: 20px;
	grid-template-columns: auto auto;
	background-color: #493434;
	padding: 10px;
}

.container .grid-item
{
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}





.btn-group button {
	background-color: #d80000; /* Green background */
	border: 1px solid rgb(128, 0, 0); /* Green border */
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
	font-size: 18px;
  }
  
  .btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
	background-color: #9b4141;
  }
  