.steps:hover {
  cursor: pointer;
}

.miles:hover {
  cursor: pointer;
}

.calories:hover {
  cursor: pointer;
}

.heart-rate:hover {
  cursor: pointer;
}

.sleeps:hover {
  cursor: pointer;
}

.row-middle {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(222,5,0,0.9906337535014006) 0%, rgba(255,0,63,0.48363095238095233) 100%);
}