
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
            <h5 class="text-white op-7 mb-2">
              <!-- Dashboard tag -->
            </h5>
          </div>
          <div class="ml-md-auto py-2 py-md-0">
            <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
            <a href="import.html" class="btn btn-secondary btn-round">Add Project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-inner mt--5">
      <div class="row mt--2">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="card full-height">
            <div class="card-body">
              <div class="card-title">Projects</div>
              <div class="card-category">All active projects</div>
              <!-- <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-1"></div>
                  <h6 class="fw-bold mt-3 mb-0">New Users</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-2"></div>
                  <h6 class="fw-bold mt-3 mb-0">Sales</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-3"></div>
                  <h6 class="fw-bold mt-3 mb-0">Subscribers</h6>
                </div>
              </div> -->
              <!-- Project Lists -->
              {% if data|length > 1 %}
                {% for item in data %}
                  {% if loop.index == 1 %}
                    <a href="project.html?project_id={{ item.project_id }}">
						<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
						<div class="avatar">
							<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="flex-1 pt-1 ml-2">
							<h6 class="fw-bold mb-1">{{ item.pname }}</h6>
							<small class="text-muted">{{ item.dataset }}</small>
						</div>
						<div class="d-flex ml-auto align-items-center">
							<h3 class="text-info fw-bold">{{item.datetime}}</h3>
						</div>
						</div>
                    </a>
                    <div class="separator-dashed"></div>
				  {% else %}
				  	<a href="project.html?project_id={{ item.project_id }}">
						<div class="d-flex">
						<div class="avatar">
							<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="flex-1 pt-1 ml-2">
							<h6 class="fw-bold mb-1">{{ item.pname }}</h6>
							<small class="text-muted">{{ item.dataset }}</small>
						</div>
						<div class="d-flex ml-auto align-items-center">
							<h3 class="text-info fw-bold">{{item.datetime}}</h3>
						</div>
						</div>
					</a>
                    <div class="separator-dashed"></div>
                  {% endif %}
                  
                {% endfor %}
              {% else %}
                Looks empty here... Let's create a project
              {% endif %}


                <div class="pull-in"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                  <canvas id="topProductsChart" width="806" height="300" class="chartjs-render-monitor" style="display: block; height: 150px; width: 403px;"></canvas>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

	<script src="/static/assets/js/demo.js"></script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
