            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">
            
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Menu</li>
            
                            <li>
                                <a href="index_new.html" class="waves-effect">
                                    <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right"></span>
                                    <span>Dashboard</span>
                                </a>    
                            </li>
            
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="bx bx-layout"></i>
                                    <span>Customers</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    {% if data|length != 0 %}
										{% for item in data %}
										<li>
											<a href="/project_dashboard/{{item.project_id}}">
												{{item.pname}}
											</a>
										</li>
										{% endfor %}
									{% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->