[Unit]
Description=Gunicorn instance to serve myproject
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/apiAdmin
Environment="PATH=/home/ubuntu/api/bin/"
ExecStart=/home/ubuntu/api/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 run:app
[Install]
WantedBy=multi-user.target
